.p1
{
   text-align: center;
   font-size: xxx-large;
   color :blue;
   margin-top: 15%;
   border: 3px dashed orange;
   width:20cm;
   margin-left: 20%;
}

.button
{
    color :blue;
    border: 3px dashed orange;
    margin-left: 40%;
    height: 65px;
    width:250px;
    font-size: xxx-large;
    background-color: white;
}
.button:hover
{
    cursor: pointer;
    border: 3px solid orange;
}
